{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center my-5">   
	<h1>Annonces russes</h1>
	
    </div>
	{% for annonce in annonces %}
		
	{#{% if annonce.isValidated %}#}
      <div class="col-12 col-md-4">
		<div class="annonce-card">
			<p>Titre d'annonce: {{ annonce.titre }}</p>
			<img src="{{ vich_uploader_asset(annonce, 'imageFile') }} " width="300px" alt="sadness" />
			<p>Contenue: {{ annonce.contenu }}</p>
			{#<p>Catégorie: {{ annonce.category.titre}}</p>#}
			<p>Created_date:{{ annonce.createdDate ? annonce.createdDate|date('d-m-Y ') : '' }}</p>
			<p>Auteur:{{ annonce.auteur ? annonce.auteur.email : 'User inconnu' }}</p>
			<p>
				<a href="{{ path('annonce_show', {'id': annonce.id}) }}">Voir plus</a>
			{% if is_granted("ROLE_ADMIN") %}
					<a href="{{ path('annonce_edit', {'id': annonce.id}) }}">Modifier</a>
			{%endif%}
			</p>
		</div>
     </div>

    {#{% endif %} #} 
	{% endfor %}
{% endblock %}