{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center my-5">   
	<h1>Annonces russes</h1>
    </div>
	{% for annonce in annonces %}
      <div class="col-12 col-md-4">
		<div class="annonce-card">
			<p>{{ annonce.titre }}</p>
			<p>{{ annonce.contenu }}</p>
			{#<p>{{ article.picture }}</p>
			<p>{{ article.isPublished ? '' : 'En attente de validation' }}</p>
			<p>{{ article.creationDate ? article.creationDate|date('Y-m-d H:i:s') : '' }}</p>#}
			<p>
				<a href="{{ path('annonce_show', {'id': annonce.id}) }}">Voir plus</a>
				{% if app.user %}
					<a href="{{ path('annonce_edit', {'id': annonce.id}) }}">Modifier</a>
				{% endif %}
			</p>
		</div>
     </div>
	{% else %}
		<div>
			<p>Aucun annonce disponible</p>
		</div>
	{% endfor %}
{% endblock %}