{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

{{ form_start(form) }}
 
 <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-2">
    <div class="input-group">
{{ form_widget(form) }}
             <div class="input-group-append">
		 <button class="btn btn-primary" ><i class="bi bi-search"></i></button>
          </div>
          </div>
          </div>
  
{{ form_end(form) }}

 
<ol class="breadcrumb">
<li class="breadcrumb-item">
		<a href="{{ path('home') }}">Accueil</a>
	</li>
<li class="breadcrumb-item">
		<a href="{{ path('contact') }}">Contact</a>
	</li>

{% for category in categories %}
<li class="breadcrumb-item">
	<a href="{{ path('category_show', {'id': category.id}) }}">{{category.titre}}</a>
</li>
{% endfor %}
</ol>
{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{message}}</div>
{% endfor %}
<a class="row justify-content-center mb-3" href="{{ path('annonce_new') }}">
<h1>Partage tes nouvelles
{% if app.user %}
, {{app.user.pseudo}}	
{% endif %}

</h1></a>

<div class="row" style="background-color: wheat;border-radius: 50px;">
	{% for annonce in annonces %}
	{% if annonce.isValidated  %}
    <div class="col-lg-4 col-sm-6 mb-4 mt-4">
	
        <div class="card h-100 "style="border-radius: 50px;">
					<div class="card-body pb-5">
					  <h4 class="card-title text-center">{{ annonce.titre}}</h4>
					    {% if annonce.category %}  
					  <p class="card-header">Catégorie: / <a href="{{ path('category_show', {'id': annonce.category.id}) }}">{{annonce.category.titre}}</a></p>
					  {% else %}
					  <p class="card-header"> Catégorie: inconnue</p>
					  {% endif %}
					  	{% if annonce.image %}
		
					<img src="{{ vich_uploader_asset(annonce, 'imageFile') }}" class="card-img-top" height=210px alt="sadness" />
				{% else %}
				
					<img src="{{ asset('build/exemple.png') }}"class="card-img-top" height=210px alt="sadness" />
				{% endif %}
					  <small class="text-muted">Le {{ annonce.updatedAt ? annonce.updatedAt|date('d-m-Y ') : '' }}  Auteur:{{ annonce.auteur ? annonce.auteur.pseudo : 'User inconnu' }} </small>	  	
				
					 <div class="row justify-content-around mt-4">
					  <a href="{{ path('annonce_show', {'id': annonce.id}) }}"><i class="bi bi-arrow-right"></i></a>
					    {% if annonce.auteur == app.user or is_granted('ROLE_ADMIN') %}
							<a href="{{ path('annonce_edit', {'id': annonce.id}) }}"><i class="bi bi-pencil-square"></i></a> 
						  
					  {% endif %} 
					 	</div>
					</div>
		</div>
  
	</div>
			


    {% endif %} 
	{% endfor %}
	
</div>
   <ul class="pagination justify-content-center">
		{{ knp_pagination_render(annonces) }}
	</ul>
{% endblock %}