{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
<ol class="breadcrumb">
<li class="breadcrumb-item">
		<a href="{{ path('home') }}">Accueil</a>
	</li>
	<li class="breadcrumb-item active">Catégories:</li>
{% for category in categories %}
<li class="breadcrumb-item">
	<a href="{{ path('category_show', {'id': category.id}) }}">{{category.titre}}</a>
</li>
{% endfor %}
</ol>
 <h1  class="row justify-content-center mb-3" > Les nouvelles à valider</h1>

<div class="row" style="background-color: wheat;border-radius: 50px;">
	{% for annonce in annonces %}
	{% if not annonce.isValidated %}
	
    <div class="col-lg-4 col-sm-6 mb-4 mt-4">
	
        <div class="card h-100 "style="border-radius: 50px;">
					<div class="card-body pb-5">
					  <h4 class="card-title text-center">{{ annonce.titre}}</h4>
					    {% if annonce.category %}  
					  <p class="card-header">Catégorie: / <a href="{{ path('category_show', {'id': annonce.category.id}) }}">{{annonce.category.titre}}</a></p>
					  {% else %}
					  <p class="card-header"> Catégorie: inconnue</p>
					  {% endif %}
					  	{% if annonce.image %}
		
					<img src="{{ vich_uploader_asset(annonce, 'imageFile') }}" class="card-img-top" height=210px alt="sadness" />
				{% else %}
				
					<img src="{{ asset('build/exemple.png') }}"class="card-img-top" height=210px alt="sadness" />
				{% endif %}
					  <small class="text-muted">{{ annonce.createdDate ? annonce.createdDate|date('d-m-Y ') : '' }}  Auteur:{{ annonce.auteur ? annonce.auteur.pseudo : 'User inconnu' }} </small>	  	
				
					 <div class="row justify-content-around mt-4">
					  <a href="{{ path('annonce_show', {'id': annonce.id}) }}"><i class="bi bi-arrow-right"></i></a>
					  
							<a href="{{ path('admin_edit', {'id': annonce.id}) }}"><i class="bi bi-pencil-square"></i></a> 
				
					 	</div>
					</div>
		</div>
	</div>
			


    {% endif %} 
	{% endfor %}
	
</div>
  
{% endblock %}
