{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{{ path('home') }}">Accueil</a>
	</li>
	<li class="breadcrumb-item active">Catégories</li>
	
	{% for category in categories %}
	<li class="breadcrumb-item">
		<a href="{{ path('category_show', {'id': category.id}) }}">{{category.titre}}</a>
	</li>
	{% endfor %}
	</ol>
	{#{% if annonce.isValidated %}#}

	<div class="annonce-card">
			<div class="card mb-3" style="border-radius: 50px;">
				<div class="row no-gutters">
				    <div class="col-md-4">
                    {% if annonce.image %}
		
			<img src="{{ vich_uploader_asset(annonce, 'imageFile') }}" class="card-img-top" alt="sadness" />
		{% else %}
		
			<img src="{{ asset('build/exemple.png') }}"class="card-img-top" alt="sadness" />
		{% endif %}	  
				    </div>
				    <div class="col-md-8">
					  <div class="card-body">
					  <h5 class="card-title">{{ annonce.titre }}</h5>
					  <p class="card-text">{{ annonce.contenu }}</p>
  					<p class="card-footer">
					  La nouvelle de la catégorie {{annonce.category ? annonce.category.titre : 'Catégorie inconnu' }}
					   crée par: {{annonce.auteur ? annonce.auteur.email : 'User inconnu' }} le {{annonce.createdDate|date('d-m-Y ')}} </p>
				</div>
			</div>
				</div>
			</div>
			<a  href="{{ path('annonce_new') }}"><h1> Partager la votre</h1></a> 
		</div>			


    {#{% endif %} #} 


   {#  {{ include('annonce/_delete_form.html.twig') }} #}
{% endblock %}
