{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{{ path('home') }}">Accueil</a>
	</li>
		<li class="breadcrumb-item">
		<a href="{{ path('contact') }}">Contact</a>
	</li>
	<li class="breadcrumb-item active">Catégories</li>
	{% for category in categories %}
	<li class="breadcrumb-item">
		<a href="{{ path('category_show', {'id': category.id}) }}">{{category.titre}}</a>
	</li>
	{% endfor %}
	</ol>


	<div class="annonce-card">
			<div class="card mb-3" style="border-radius: 50px;">
				<div class="row no-gutters">
				    <div class="col-md-4 bg-dark text-white">
                    {% if annonce.image %}
		
			<img src="{{ vich_uploader_asset(annonce, 'imageFile') }}" class="card-img-top" alt="sadness" />
		{% else %}
		
			<img src="{{ asset('build/exemple.png') }}"class="card-img-top" alt="sadness" />
		{% endif %}	  
		<p class="card-footer">
					  La nouvelle de la catégorie {{annonce.category ? annonce.category.titre : 'Catégorie inconnu' }}
					   crée par: {{annonce.auteur ? annonce.auteur.email : 'User inconnu' }} le {{annonce.createdDate|date('d-m-Y ')}} </p>
					    <div class="row justify-content-around mb-2">
							  <a href="{{ path('home', {'id': annonce.id}) }}"><i class="bi bi-arrow-left"></i></a>
					   {% if annonce.auteur == app.user or is_granted('ROLE_ADMIN') %}
						  	<a href="{{ path('annonce_edit', {'id': annonce.id}) }}"><i class="bi bi-pencil-square"></i></a> 
					  {% endif %} 
					  </div>
				    </div>
				    <div class="col-md-8">
					  <div class="card-body">
					  <h5 class="card-title">{{ annonce.titre }}</h5>
					  <p class="card-text">{{ annonce.contenu|raw }}</p>
  					
				</div>
			</div>
				</div>
			</div>
			  <div class="row justify-content-around">
			<a  href="{{ path('annonce_new') }}"><h1> Partage la tienne</h1></a> 

		</div>			
		</div>			
    

    


{% endblock %}
