<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
      <link rel="icon" type="image/png" href="{{ asset('build/favicon.png') }}"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

      
    </head>
    <body>
       {% block header %}

       <nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<a class="navbar-brand" href="{{ path('home') }}"><h1>Quoi de neuf ?</h1></a>
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarResponsive">
						<ul class="navbar-nav ml-auto">
							{% if app.user and is_granted('ROLE_ADMIN')  %}
								{# Admin only #}
								
								<li class="nav-item">
									<span style="display: block;padding: 0.5rem 1rem;">Salut admin {{ app.user.pseudo }}!</span>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('admin_user_index') }}">Utilisateurs</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('admin_category_index') }}">Catégories</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('admin_annonce') }}">Nouvelles à valider</a>
								</li>
							
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
								</li>
								{% elseif app.user %}
									<li class="nav-item">
									<span style="display: block;padding: 0.5rem 1rem;">Salut {{ app.user.pseudo }}!</span>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('annonce_index') }}">Mes nouvelles</a>
								</li>
								
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
								</li>
								{% else %}
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_register') }}">S'enregistrer</a>
								</li>
								{% endif %}		
						
						
						</ul>
					</div>
				</div>
			</nav>
    {% endblock %}
    <section class="py-5">
			<div
				class="container">
				<!-- Page Content-->
				{% block body %}{% endblock %}
			</div>
		</section>
          {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <!-- Footer-->
<footer class="py-4 bg-dark">
		<div class="container">
			<div class="d-flex align-items-center justify-content-between small">
				<div class="text-muted">Copyright &copy; Quoi_de_neuf 2021</div>
				<div>
					<a href="{{ path('contact') }}">Contact</a>
				</div>
				<div class="text-muted">
					Webmaster: <a href="https://www.linkedin.com/in/liudmyla-duvivier-05570b15a/" target="_blank">Liudmyla Duvivier</a>
				</div>
			</div>
		</div>
	</footer>
             <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
         
    </body>
  
</html>
